<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">Fawry Moodle Enrolment </h1>
        <p class="header">Enrolment after pay through fawry</p>

      <p>Contact at  httplab2020@gmail.com or visit <a href="httplab.online">HTTPLAB.ONLINE</a></p>
        


      
      </header>

      <section>
        Moodle Enrolment Plugin after payemnt through Fawry payment gateway.

      {{content}}
      </section>

      <footer>

        <p> <a href="http://httplab.online">HTTPLAB.ONLINE</a></p>
      </footer>
    </div>
   
  </body>
</html>
